<div>
    
    
  <form (ngSubmit)="saveProvince()">
      <h2>Ajouter une Province</h2>
      <div>
        <label for="region">Région</label>
        <select id="region" formControlName="region">
          <option *ngFor="let region of regions" [ngValue]="region">{{ region.libelle}}</option>
        </select>
      </div>

      <div hidden class="form-group">
          <label for="id">Id:</label>
          <input type="number" id="id" [(ngModel)]="province.id" name="id" required>
      </div>

      <div class="form-group">
          <label for="CodeDgess">CodeDgess:</label>
          <input type="text" id="CodeDgess" [(ngModel)]="province.codeDgess" name="codeDgess" required>
      </div>

      <div class="form-group">
          <label for="CodeIgb">CodeIgb:</label>
          <input type="text" id="CodeIgb" [(ngModel)]="province.codeIgb" name="codeIgb" required>
      </div>

      <div class="form-group">
          <label for="libelle">Libellé:</label>
          <input type="text" id="libelle" [(ngModel)]="province.libelle" name="libelle" required>
      </div>
      <button type="submit">Valider</button>
  </form>

</div>



<!-- <div>
  
    <form [formGroup]="provinceForm" (ngSubmit)="onSubmit()">
      <table>
        <h2>Ajouter une Province</h2>
        <div>
          <label for="region">Région</label>
          <select id="region" formControlName="region">
            <option *ngFor="let region of regions" [ngValue]="region">{{region.libelle }}</option>
          </select>
        </div>
      </table>
    
      <table>
        <div hidden>
              <label for="id">Id</label>
              <input id="id" formControlName="id" type="number">
        </div> 
      
        <div>
            <label for="codeDgess">CodeDgess</label>
            <input id="codeDgess" formControlName="codeDgess" type="text">
        </div>
        <div>
            <label for="codeIgb">codeIgb</label>
            <input id="codeIgb" formControlName="codeIgb" type="text">
        </div>
        
        <div>
            <label for="libelle">Libellé</label>
            <input id="libelle" formControlName="libelle" type="text">
        </div>
       
        <button type="submit" [disabled]="provinceForm.invalid">Valider</button>
      </table>  
    </form>
      <div> -->