<div>
    
    
    <form (ngSubmit)="saveRegion()">
        <h2>Ajouter une Région</h2>
        <div hidden class="form-group">
            <label for="id">Id:</label>
            <input type="number" id="id" [(ngModel)]="region.id" name="id" required>
        </div>

        <div class="form-group">
            <label for="CodeDgess">CodeDgess:</label>
            <input type="text" id="CodeDgess" [(ngModel)]="region.codeDgess" name="codeDgess" required>
        </div>

        <div class="form-group">
            <label for="CodeIgb">CodeIgb:</label>
            <input type="text" id="CodeIgb" [(ngModel)]="region.codeIgb" name="codeIgb" required>
        </div>

        <div class="form-group">
            <label for="libelle">Libellé:</label>
            <input type="text" id="libelle" [(ngModel)]="region.libelle" name="libelle" required>
        </div>


        <button type="submit">Valider</button>
        
    </form>

    

</div>
